@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/montserrat_regular.ttf);

}

body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  height: 100vh;
}

#splash, #setup, #stream {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 3s;
  opacity: 0;
}

#splash {
  opacity: 1;
}

#set-up {
  background-image: url(../assets/images/orange_vinyl_background.png);
  height: 100%;
  background-position: center;
  background-size: cover;
}

.center {
  height: 100%;
  padding-top: 40%;
}

.center .logo {
  height: 150px;
}